html, body{
      
      margin: 0;
      padding:0;
      font-family: sans-serif;
      scroll-behavior: smooth;
}
.menu
{
      background: #2c3e50;
      padding: 5px;
      letter-spacing: 0.5px;
      font-style: oblique;
      font-weight:bolder;
        
}
.menu ul{
      margin: 0;
      padding: 0;
      text-align: center;
}
.menu ul li{
      list-style-type: none;
      margin:0 20px;
      display: inline;
}
.menu ul li a {
      color:snow;
      font-size: 1em;
      line-height: 1em;
      text-transform: uppercase;
      text-decoration:none;
      padding: 10px 15px;
      display: inline-block;
      font-weight: 700; 
}
.menu ul li a.active {
      background: #E91E63;
}
.menu ul li:hover a{
      background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0,#BA5370,#F4E2D8);
      height: 40px;
      width: 190px;
      border-radius: 50%;
}
.section1, .section2, .section3, .section4{
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10em;
      text-transform: uppercase;
      font-weight: 700;
      color: #E91E63;
}
section:nth-child(odd)
{
      background: #c8d6e5;
}


